workflows/lsa-lookup-vfinal-backup.json
{
  "name": "LSA Lead Lookup vFinal (Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lsa-lookup-final",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "d5dcf206-1f5e-46fa-b946-f259121a4034",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        -16
      ],
      "webhookId": "lsa-lookup-final"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ============================================\n// LSA Lead Lookup vFinal FIXED v2 - Validate & Clean\n// ============================================\n\nconst VALID_PASSWORD = 'walker2025';\n\n// Read from webhook JSON body\nconst password = $json.body?.access_code || '';\n\nif (password !== VALID_PASSWORD) {\n  return { json: { auth_failed: true, error: 'Invalid access code' } };\n}\n\n// Extract and clean phone numbers\nconst phones = [];\nfor (let i = 1; i <= 5; i++) {\n  const fieldName = `phone${i}`;\n  const raw = $json.body?.[fieldName] || '';\n  if (raw.trim()) {\n    let digits = String(raw).replace(/[^0-9]/g, '');\n    // Strip leading 1 for US numbers\n    if (digits.length === 11 && digits.startsWith('1')) {\n      digits = digits.slice(1);\n    }\n    if (digits.length >= 7) {\n      phones.push({ index: i, clean_phone: digits, original: raw });\n    }\n  }\n}\n\n// Build WHERE clause for SQL\nconst whereConditions = phones.map(p => \n  `(REPLACE(REPLACE(REPLACE(c.PrimaryPhoneNum, '-', ''), '(', ''), ')', '') LIKE '%${p.clean_phone}%' ` +\n  `OR REPLACE(REPLACE(REPLACE(c.CalledFromNumber, '-', ''), '(', ''), ')', '') LIKE '%${p.clean_phone}%')`\n).join(' OR ');\n\nreturn { \n  json: { \n    auth_failed: false, \n    phones: phones, \n    whereClause: whereConditions || '1=0' \n  } \n};"
      },
      "id": "735624ed-51da-432f-a8b6-3bb099c11929",
      "name": "Validate & Clean",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "auth-check",
              "operator": {
                "type": "boolean",
                "operation": "false"
              },
              "leftValue": "={{ $json.auth_failed }}",
              "rightValue": ""
            }
          ]
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "fd30fa86-fca5-405b-a5e7-2d9b5524ab8f",
      "name": "Auth OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -240,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    c.CallId,\n    c.StartTime,\n    c.EndTime,\n    c.CallStatus,\n    c.Channel,\n    c.FirstName,\n    c.LastName,\n    c.PrimaryPhoneNum,\n    c.CalledFromNumber,\n    c.Notes,\n    \n    -- LawSubType details\n    lst.LawSubTypeId,\n    lst.LawSubTypeCode,\n    lst.ShortDescription AS CallTypeName,\n    lst.IsQualified,\n    lst.LawTypeBroadId,\n    lst.LawTypeNarrowId,\n    \n    -- MediaSource details\n    ms.MediaSourceId,\n    ms.MediaSourceName,\n    ms.VendorGroup,\n    ms.CampaignGroup,\n    \n    -- Company details\n    co.CompanyId,\n    co.ShortName AS Account,\n    co.LongName AS AccountName\n\nFROM Calls c\nLEFT JOIN LawSubTypes lst ON c.CallType = lst.LawSubTypeId\nLEFT JOIN MediaSources ms ON c.MediaSourceId = ms.MediaSourceId\nLEFT JOIN Companies co ON c.CompanyId = co.CompanyId\n\nWHERE {{ $json.whereClause }}\n\nORDER BY c.StartTime DESC"
      },
      "id": "fd5b88b9-bb4d-42f4-9dd8-0f077871c26e",
      "name": "Query Waycool",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        0,
        -144
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "Xk0Pjz0ws9gsFuvb",
          "name": "Microsoft SQL WacatsNew - Alex B"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// LSA Lead Lookup vFinal FIXED v2 - Rating & Response Builder\n// FIX: Now checks BOTH PrimaryPhoneNum AND CalledFromNumber for matching\n// ============================================\n\nconst validateNode = $('Validate & Clean').first().json;\nconst inputPhones = validateNode.phones || [];\nconst dbRows = $input.all().map(item => item.json);\n\n// ============================================\n// CALLSTATUS CROSSWALK\n// ============================================\nconst CALL_STATUS_MAP = {\n  12: { text: 'Completed', isComplete: true },\n  850: { text: 'In Queue', isComplete: false },\n  14: { text: 'Agent Working', isComplete: false },\n  13: { text: 'Talking', isComplete: false },\n  15: { text: 'On Hold', isComplete: false },\n  11: { text: 'Ringing', isComplete: false },\n  509: { text: 'Voicemail', isComplete: true },\n  496: { text: 'Abandoned', isComplete: true },\n  1086: { text: 'Transferred', isComplete: true }\n};\n\n// ============================================\n// LAW TYPE DISPLAY NAMES\n// ============================================\nconst LAW_TYPE_DISPLAY = {\n  351: 'MVA',\n  352: 'WC',\n  353: 'Premise',\n  354: 'L&E',\n  355: 'Misc',\n  356: 'Mass Tort'\n};\n\n// ============================================\n// SPAM DETECTION KEYWORDS\n// ============================================\nconst SPAM_KEYWORDS = [\n  'spam', 'wrong number', 'solicitor', 'prank', \n  'hang up', 'hung up', 'no answer', 'test call',\n  'robo', 'telemarket'\n];\n\n// ============================================\n// EXACT LSA PLATFORM RATING STRINGS\n// ============================================\nconst RATINGS = {\n  VERY_SATISFIED: 'Very satisfied',\n  SOMEWHAT_SATISFIED: 'Somewhat satisfied',\n  NEITHER: 'Neither satisfied nor dissatisfied',\n  SOMEWHAT_DISSATISFIED: 'Somewhat dissatisfied',\n  VERY_DISSATISFIED: 'Very dissatisfied'\n};\n\n// ============================================\n// EXACT LSA PLATFORM REASON STRINGS\n// ============================================\nconst REASONS = {\n  CONVERTED: 'It converted into a booked customer or client',\n  COULD_CONVERT: 'It could convert into a booked customer or client soon',\n  RELEVANT: 'It is relevant to the services the business provides',\n  HIGH_VALUE: 'It is for a service that generates high value for the business',\n  DUPLICATE: 'It is a duplicate lead (i.e., a person contacted the business more than once)',\n  NOT_PROVIDED: 'It is for a service the business does not provide',\n  SPAM: 'It is spam (e.g., unwanted robocall or message, silent caller, scam)',\n  NOT_IN_AREA: 'It is not located in the service area(s) for the business',\n  NOT_READY: 'The person calling was not ready to book services',\n  SOLICITOR: 'It is a person seeking employment or trying to sell a product or service'\n};\n\n// ============================================\n// PRICE LOGIC\n// ============================================\nfunction getPrice(code, lawTypeBroadId, lawTypeNarrowId, isQualified) {\n  const c = (code || '').toUpperCase();\n  if (c === 'T2') return 6500;\n  if (lawTypeNarrowId === 379) return isQualified ? 6500 : 3000;\n  switch (lawTypeBroadId) {\n    case 351: return isQualified ? 3500 : 1000;\n    case 352: return isQualified ? 600 : null;\n    case 353: return isQualified ? 600 : null;\n    case 354: return isQualified ? 350 : null;\n    case 356: return isQualified ? 1000 : 500;\n    default: return null;\n  }\n}\n\n// ============================================\n// JOB TYPE LOGIC\n// ============================================\nfunction getJobType(lawTypeBroadId, lawTypeNarrowId) {\n  if (lawTypeNarrowId === 362) return 'personal_injury';\n  switch (lawTypeBroadId) {\n    case 351: return 'personal_injury';\n    case 352: return 'workers_compensation';\n    case 353: return 'personal_injury';\n    case 354: return 'employment_law';\n    default: return null;\n  }\n}\n\n// ============================================\n// RATING LOGIC\n// ============================================\nfunction getRatingLogic(code, notes, lawTypeBroadId, lawTypeNarrowId, isQualified) {\n  const c = (code || '').toUpperCase().trim();\n  const n = (notes || '').toLowerCase();\n  const qualStatus = isQualified ? 'qual' : 'nonq';\n  \n  if (c === 'CB') {\n    return { rating: RATINGS.SOMEWHAT_DISSATISFIED, reason: REASONS.DUPLICATE, callTypeDisplay: 'Callback', qualStatus: '' };\n  }\n  if (c === 'C44') {\n    return { rating: RATINGS.SOMEWHAT_DISSATISFIED, reason: REASONS.NOT_PROVIDED, callTypeDisplay: 'Civil', qualStatus: '' };\n  }\n  if (SPAM_KEYWORDS.some(kw => n.includes(kw))) {\n    return { rating: RATINGS.VERY_DISSATISFIED, reason: REASONS.SPAM, callTypeDisplay: 'Spam', qualStatus: '' };\n  }\n  if (lawTypeNarrowId === 379) {\n    return { rating: RATINGS.VERY_SATISFIED, reason: REASONS.HIGH_VALUE, callTypeDisplay: 'Trucking', qualStatus };\n  }\n  if (lawTypeBroadId === 356) {\n    return { rating: RATINGS.VERY_SATISFIED, reason: REASONS.HIGH_VALUE, callTypeDisplay: 'Mass Tort', qualStatus };\n  }\n  if (lawTypeBroadId === 351) {\n    return isQualified \n      ? { rating: RATINGS.VERY_SATISFIED, reason: REASONS.CONVERTED, callTypeDisplay: 'MVA', qualStatus: 'qual' }\n      : { rating: RATINGS.SOMEWHAT_SATISFIED, reason: REASONS.COULD_CONVERT, callTypeDisplay: 'MVA', qualStatus: 'nonq' };\n  }\n  if (lawTypeNarrowId === 362) {\n    return isQualified\n      ? { rating: RATINGS.SOMEWHAT_SATISFIED, reason: REASONS.RELEVANT, callTypeDisplay: 'Dog Bite', qualStatus: 'qual' }\n      : { rating: RATINGS.NEITHER, reason: '', callTypeDisplay: 'Dog Bite', qualStatus: 'nonq' };\n  }\n  if ([352, 353, 354].includes(lawTypeBroadId)) {\n    const typeDisplay = LAW_TYPE_DISPLAY[lawTypeBroadId] || 'Other';\n    return isQualified\n      ? { rating: RATINGS.SOMEWHAT_SATISFIED, reason: REASONS.RELEVANT, callTypeDisplay: typeDisplay, qualStatus: 'qual' }\n      : { rating: RATINGS.NEITHER, reason: '', callTypeDisplay: typeDisplay, qualStatus: 'nonq' };\n  }\n  return { rating: RATINGS.NEITHER, reason: '', callTypeDisplay: 'Misc', qualStatus: '' };\n}\n\nfunction buildNotesField(code, ratingResult, lawTypeName) {\n  const c = (code || '').toUpperCase().trim();\n  if (!c) return ratingResult.callTypeDisplay || '';\n  const parts = [c, '-', ratingResult.callTypeDisplay];\n  if (lawTypeName && lawTypeName !== ratingResult.callTypeDisplay) {\n    parts.push('-', lawTypeName);\n  }\n  if (ratingResult.qualStatus) {\n    parts.push(ratingResult.qualStatus);\n  }\n  return parts.join(' ');\n}\n\nfunction buildCopyAllField(notesField, rating, reason) {\n  let result = `Notes: ${notesField}\\nRating: ${rating}`;\n  if (reason) result += `\\nReason: ${reason}`;\n  return result;\n}\n\nfunction getCallStatusInfo(callStatus, endTime) {\n  const statusInfo = CALL_STATUS_MAP[callStatus] || { text: `Unknown (${callStatus})`, isComplete: false };\n  const isComplete = endTime !== null && endTime !== undefined;\n  return { code: callStatus, text: statusInfo.text, isComplete, isLiveCall: !isComplete };\n}\n\nfunction getMarkAs(code, notes, rating) {\n  const c = (code || '').toUpperCase();\n  const n = (notes || '').toLowerCase();\n  if (c === 'CB' || c === 'C44') return 'ARCHIVE';\n  if (rating === RATINGS.VERY_DISSATISFIED) return 'ARCHIVE';\n  if (SPAM_KEYWORDS.some(kw => n.includes(kw))) return 'ARCHIVE';\n  return 'BOOKED';\n}\n\nfunction getLawTypeName(lawTypeBroadId, lawTypeNarrowId) {\n  if (lawTypeNarrowId === 379) return 'Trucking';\n  if (lawTypeNarrowId === 362) return 'Dog Bite';\n  return LAW_TYPE_DISPLAY[lawTypeBroadId] || 'Misc';\n}\n\n// ============================================\n// FIXED PHONE MATCHING - Check BOTH fields\n// ============================================\nfunction phoneMatches(row, searchPhone) {\n  const primaryClean = String(row.PrimaryPhoneNum || '').replace(/[^0-9]/g, '');\n  const calledFromClean = String(row.CalledFromNumber || '').replace(/[^0-9]/g, '');\n  \n  // Check if search phone matches either field\n  return primaryClean.includes(searchPhone) || \n         searchPhone.includes(primaryClean.slice(-10)) ||\n         calledFromClean.includes(searchPhone) || \n         searchPhone.includes(calledFromClean.slice(-10));\n}\n\n// ============================================\n// PROCESS EACH INPUT PHONE\n// ============================================\nconst results = [];\nconst matchedCallIds = new Set();\n\nfor (const phone of inputPhones) {\n  // FIXED: Use new phoneMatches function that checks BOTH phone fields\n  const matchingRow = dbRows.find(row => {\n    if (!row || !row.CallId || matchedCallIds.has(row.CallId)) return false;\n    return phoneMatches(row, phone.clean_phone);\n  });\n  \n  if (matchingRow) {\n    matchedCallIds.add(matchingRow.CallId);\n    const row = matchingRow;\n    \n    const code = (row.LawSubTypeCode || '').trim();\n    const typeName = row.CallTypeName || code;\n    const isQualified = row.IsQualified === 'Y';\n    const notes = row.Notes || '';\n    const lawTypeBroadId = row.LawTypeBroadId;\n    const lawTypeNarrowId = row.LawTypeNarrowId;\n    \n    const ratingResult = getRatingLogic(code, notes, lawTypeBroadId, lawTypeNarrowId, isQualified);\n    const statusInfo = getCallStatusInfo(row.CallStatus, row.EndTime);\n    const price = getPrice(code, lawTypeBroadId, lawTypeNarrowId, isQualified);\n    const jobType = getJobType(lawTypeBroadId, lawTypeNarrowId);\n    const lawTypeName = getLawTypeName(lawTypeBroadId, lawTypeNarrowId);\n    const copyNotes = buildNotesField(code, ratingResult, lawTypeName);\n    const copyAll = buildCopyAllField(copyNotes, ratingResult.rating, ratingResult.reason);\n    const markAs = getMarkAs(code, notes, ratingResult.rating);\n    \n    const firstName = row.FirstName || '';\n    const lastName = row.LastName || '';\n    const callerName = `${firstName} ${lastName}`.trim() || 'Unknown';\n    \n    // FIXED: Use CalledFromNumber as display phone if that's what matched\n    const displayPhone = row.CalledFromNumber || row.PrimaryPhoneNum;\n    \n    results.push({\n      status: 'FOUND',\n      input_phone: phone.original,\n      name: callerName,\n      phone: displayPhone,\n      primary_phone: row.PrimaryPhoneNum,\n      called_from: row.CalledFromNumber,\n      account: row.Account || '',\n      account_name: row.AccountName || '',\n      media_source: row.MediaSourceName || 'N/A',\n      vendor_group: row.VendorGroup || '',\n      campaign_group: row.CampaignGroup || '',\n      call_type: code,\n      type_name: typeName,\n      law_type: lawTypeName,\n      law_type_broad_id: lawTypeBroadId,\n      law_type_narrow_id: lawTypeNarrowId,\n      qualified: isQualified ? 'Yes' : 'No',\n      price,\n      price_display: price ? `$${price.toLocaleString()}` : 'N/A',\n      job_type: jobType || 'N/A',\n      call_status_code: statusInfo.code,\n      call_status_text: statusInfo.text,\n      is_live_call: statusInfo.isLiveCall,\n      start_time: row.StartTime,\n      end_time: row.EndTime,\n      rating: ratingResult.rating,\n      reason: ratingResult.reason,\n      mark_as: markAs,\n      copy_notes: copyNotes,\n      copy_rating: ratingResult.rating,\n      copy_reason: ratingResult.reason,\n      copy_all: copyAll,\n      original_notes: notes\n    });\n    \n  } else {\n    results.push({\n      status: 'NOT_FOUND',\n      input_phone: phone.original,\n      name: '-',\n      phone: phone.original,\n      message: 'No lead found for this phone number'\n    });\n  }\n}\n\nconst foundCount = results.filter(r => r.status === 'FOUND').length;\nconst liveCallCount = results.filter(r => r.is_live_call).length;\n\nreturn {\n  json: {\n    results,\n    total: results.length,\n    found: foundCount,\n    live_calls: liveCallCount\n  }\n};"
      },
      "id": "d6fc5903-d582-44ff-aa29-9ff574b85d35",
      "name": "Rating Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -144
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<style>\nbody { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; margin: 0; padding: 0; }\n.results-wrapper { max-width: 560px; margin: 0 auto; }\n.results-header {\n  background: linear-gradient(135deg, #1a5f2a 0%, #2d8a3e 100%);\n  color: white;\n  padding: 24px;\n  border-radius: 12px 12px 0 0;\n  text-align: center;\n}\n.results-header h1 { margin: 0 0 8px 0; font-size: 24px; }\n.results-header .summary { opacity: 0.9; font-size: 14px; }\n.results-body {\n  background: white;\n  padding: 16px;\n  border-radius: 0 0 12px 12px;\n  box-shadow: 0 4px 20px rgba(0,0,0,0.1);\n}\n.live-warning {\n  background: linear-gradient(135deg, #fff3cd 0%, #ffeeba 100%);\n  border: 1px solid #ffc107;\n  border-left: 4px solid #ff9800;\n  color: #856404;\n  padding: 12px 16px;\n  margin-bottom: 16px;\n  border-radius: 6px;\n  display: flex;\n  align-items: flex-start;\n  gap: 10px;\n}\n.live-warning-icon { font-size: 20px; }\n.live-warning-text strong { display: block; margin-bottom: 4px; }\n.live-warning-text span { font-size: 13px; }\n.card {\n  background: #fafafa;\n  border-radius: 8px;\n  margin-bottom: 12px;\n  overflow: hidden;\n}\n.card-header {\n  padding: 15px;\n  display: flex;\n  justify-content: space-between;\n  align-items: center;\n}\n.card-header.booked {\n  background: linear-gradient(135deg, #d4edda 0%, #c3e6cb 100%);\n  border-left: 4px solid #28a745;\n}\n.card-header.archive {\n  background: linear-gradient(135deg, #f8d7da 0%, #f5c6cb 100%);\n  border-left: 4px solid #dc3545;\n}\n.card-header.notfound {\n  background: linear-gradient(135deg, #e9ecef 0%, #dee2e6 100%);\n  border-left: 4px solid #6c757d;\n}\n.card-header.live {\n  background: linear-gradient(135deg, #fff3cd 0%, #ffeeba 100%);\n  border-left: 4px solid #ffc107;\n}\n.phone-number { font-weight: bold; font-size: 16px; }\n.name { color: #666; font-size: 14px; }\n.media-source { color: #007bff; font-size: 12px; margin-top: 4px; font-family: monospace; }\n.quick-info { text-align: right; }\n.mark-as {\n  font-weight: bold;\n  font-size: 12px;\n  padding: 4px 8px;\n  border-radius: 4px;\n}\n.mark-as.booked { background: #28a745; color: white; }\n.mark-as.archive { background: #dc3545; color: white; }\n.live-badge {\n  background: #ffc107;\n  color: #000;\n  font-size: 11px;\n  padding: 2px 6px;\n  border-radius: 3px;\n  margin-left: 6px;\n}\n.price-display {\n  font-size: 18px;\n  font-weight: bold;\n  color: #28a745;\n  margin-top: 4px;\n}\n.rating-display {\n  font-size: 13px;\n  color: #333;\n  margin-top: 2px;\n}\ndetails { border-top: 1px solid #eee; }\nsummary {\n  padding: 10px 15px;\n  cursor: pointer;\n  color: #007bff;\n  font-size: 14px;\n}\nsummary:hover { background: #f0f0f0; }\n.details-content { padding: 15px; background: white; }\n.details-content table { width: 100%; border-collapse: collapse; }\n.details-content th, .details-content td {\n  padding: 8px;\n  text-align: left;\n  border-bottom: 1px solid #eee;\n  font-size: 13px;\n}\n.details-content th { width: 30%; color: #666; font-weight: normal; }\n.copy-section {\n  background: #f0f8ff;\n  border: 1px solid #b8daff;\n  border-radius: 6px;\n  padding: 12px;\n  margin-top: 12px;\n}\n.copy-section h4 {\n  margin: 0 0 10px 0;\n  font-size: 13px;\n  color: #004085;\n}\n.copy-textarea {\n  width: 100%;\n  border: 1px solid #ddd;\n  border-radius: 4px;\n  padding: 10px;\n  font-family: monospace;\n  font-size: 12px;\n  resize: none;\n  margin-bottom: 10px;\n  line-height: 1.6;\n  box-sizing: border-box;\n}\n.copy-all-btn {\n  width: 100%;\n  background: #007bff;\n  color: white;\n  border: none;\n  padding: 10px 16px;\n  border-radius: 4px;\n  cursor: pointer;\n  font-size: 14px;\n  font-weight: 500;\n}\n.copy-all-btn:hover { background: #0056b3; }\n.copy-all-btn.copied { background: #28a745; }\n.notes-box {\n  background: #f5f5f5;\n  padding: 10px;\n  border-radius: 4px;\n  margin-top: 10px;\n  white-space: pre-wrap;\n  font-size: 12px;\n  max-height: 80px;\n  overflow-y: auto;\n}\n.back-btn {\n  display: block;\n  width: 100%;\n  padding: 14px;\n  margin-top: 16px;\n  background: linear-gradient(135deg, #1a5f2a 0%, #2d8a3e 100%);\n  color: white;\n  border: none;\n  border-radius: 8px;\n  font-size: 16px;\n  font-weight: 600;\n  cursor: pointer;\n  text-align: center;\n  text-decoration: none;\n}\n.back-btn:hover { box-shadow: 0 4px 12px rgba(45, 138, 62, 0.3); }\n</style>\n\n<div class=\"results-wrapper\">\n  <div class=\"results-header\">\n    <h1>LSA Lead Lookup</h1>\n    <div class=\"summary\">Found {{ $json.found }} of {{ $json.total }} numbers</div>\n  </div>\n\n  <div class=\"results-body\">\n    {{ $json.live_calls > 0 ? '<div class=\"live-warning\"><span class=\"live-warning-icon\">⚠️</span><div class=\"live-warning-text\"><strong>Live Call Detected</strong><span>One or more calls may still be in progress. Rating data may be incomplete.</span></div></div>' : '' }}\n\n    {{ $json.results.map((r, idx) => r.status === 'FOUND' ? `\n    <div class=\"card\">\n      <div class=\"card-header ${r.is_live_call ? 'live' : r.mark_as.toLowerCase()}\">\n        <div>\n          <div class=\"phone-number\">${r.phone}${r.is_live_call ? '<span class=\"live-badge\">LIVE</span>' : ''}</div>\n          <div class=\"name\">${r.name}</div>\n          <div class=\"media-source\">${r.media_source}</div>\n        </div>\n        <div class=\"quick-info\">\n          <span class=\"mark-as ${r.mark_as.toLowerCase()}\">${r.mark_as}</span>\n          <div class=\"price-display\">${r.price_display}</div>\n          <div class=\"rating-display\">${r.rating.split(' ')[0]}</div>\n        </div>\n      </div>\n      <details>\n        <summary>View Details & Copy</summary>\n        <div class=\"details-content\">\n          <table>\n            <tr><th>Account</th><td>${r.account} - ${r.account_name}</td></tr>\n            <tr><th>Call Type</th><td>${r.call_type} - ${r.type_name}</td></tr>\n            <tr><th>Law Type</th><td>${r.law_type}</td></tr>\n            <tr><th>Qualified</th><td>${r.qualified}</td></tr>\n            <tr><th>Job Type</th><td>${r.job_type}</td></tr>\n            <tr><th>Call Status</th><td>${r.call_status_text}</td></tr>\n            <tr><th>Start Time</th><td>${r.start_time}</td></tr>\n            <tr><th>Rating</th><td>${r.rating}</td></tr>\n            <tr><th>Reason</th><td>${r.reason || 'N/A'}</td></tr>\n          </table>\n          ${r.original_notes ? '<div class=\"notes-box\">Notes: ' + r.original_notes + '</div>' : ''}\n          <div class=\"copy-section\">\n            <h4>📋 Copy for LSA Platform</h4>\n            <textarea id=\"txt${idx}\" class=\"copy-textarea\" rows=\"4\" readonly>${r.copy_all}</textarea>\n            <button class=\"copy-all-btn\" onclick=\"copyText(${idx})\">Copy All</button>\n          </div>\n        </div>\n      </details>\n    </div>\n    ` : `\n    <div class=\"card\"><div class=\"card-header notfound\"><div><div class=\"phone-number\">${r.input_phone}</div><div class=\"name\">NOT FOUND</div></div></div></div>\n    `).join('') }}\n\n    <button class=\"back-btn\" onclick=\"location.reload()\">Look Up More Numbers</button>\n  </div>\n</div>\n\n<script>\nfunction copyText(idx) {\n  var textarea = document.getElementById('txt' + idx);\n  textarea.select();\n  textarea.setSelectionRange(0, 99999);\n  document.execCommand('copy');\n  var btn = textarea.parentNode.querySelector('.copy-all-btn');\n  btn.classList.add('copied');\n  btn.innerText = 'Copied!';\n  setTimeout(function() {\n    btn.classList.remove('copied');\n    btn.innerText = 'Copy All';\n  }, 2000);\n}\n</script>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "6ee287c6-5b01-499a-8942-ca4011128f0a",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        480,
        -144
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<style>\nbody { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; margin: 0; padding: 0; }\n.error-wrapper { max-width: 500px; margin: 0 auto; text-align: center; }\n.error-header {\n  background: linear-gradient(135deg, #dc3545 0%, #c82333 100%);\n  color: white;\n  padding: 24px;\n  border-radius: 12px 12px 0 0;\n}\n.error-header h1 { margin: 0; font-size: 24px; }\n.error-body {\n  background: white;\n  padding: 24px;\n  border-radius: 0 0 12px 12px;\n  box-shadow: 0 4px 20px rgba(0,0,0,0.1);\n}\n.error-body p { color: #666; margin: 0 0 20px 0; }\n.back-btn {\n  display: block;\n  width: 100%;\n  padding: 14px;\n  background: linear-gradient(135deg, #1a5f2a 0%, #2d8a3e 100%);\n  color: white;\n  border: none;\n  border-radius: 8px;\n  font-size: 16px;\n  font-weight: 600;\n  cursor: pointer;\n}\n</style>\n<div class=\"error-wrapper\">\n  <div class=\"error-header\">\n    <h1>Access Denied</h1>\n  </div>\n  <div class=\"error-body\">\n    <p>Invalid access code. Please try again.</p>\n    <button class=\"back-btn\" onclick=\"location.reload()\">Try Again</button>\n  </div>\n</div>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "2aca0ac4-99e3-4bac-99be-6f1e1515f459",
      "name": "Respond Denied",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        0,
        96
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate & Clean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Clean": {
      "main": [
        [
          {
            "node": "Auth OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth OK?": {
      "main": [
        [
          {
            "node": "Query Waycool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Denied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Waycool": {
      "main": [
        [
          {
            "node": "Rating Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rating Logic": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bbaf6317-fdd8-4373-84a0-9dd78505b7cb",
  "meta": {
    "instanceId": "987df2ee40ec4305d923c54a64aa097af1572543b472567cb09ba98345835d08"
  },
  "id": "IAtDWIqffTyp5RWw",
  "tags": []
}